    .two{
            position: relative;
            border-collapse:separate;
            width:20%;
            border-spacing:10px;
            border: 3px solid LightGray;
            border-radius: 7px;
            background-color: #ADD8E6;
            padding: 5px;
            font-weight: 600;
            box-shadow: 5px 5px 10px 5px LightGray;
            margin-left: 25%;
            margin-top: 5%;
            font-size: 14}

     .header{
        position: relative;
        font-weight: bold;
        text-align: center;
        font-size: 20;
        font: arial;
        font-family: Arial;
     }

    .boldInput{
        position: relative;
        font-weight: 600;
        height: 30;
        font-family: Arial;
        border: 3px solid LightGray;
        font-size: 15}

     .boldSelect{
        position: relative;
        font-weight: 600;
        width: 100%;
        height: 30;
        font-family: Arial;
        border: 3px solid LightGray;
        font-size: 15}

    .boldBtn{
        position: relative;
        font-weight: bold;
        text-align: center;
        font-family: Arial;
        height: 35;
        width: 150;
        border-radius: 7px;
        background-color: #DCDCDC;
        font-size: 15}

        .thHeader {font-weight: bold;
                    font-family: Arial;
                    font-size: 1.0em;
                    background-color: #DCDCDC;
                    height: 40;
                    border: 1px solid black;
                    text-align:center;
                    }

        .tdRow {font-weight: bold;
                font-family: Arial;
                font-size: 0.8em;
                padding: 5px 7px;
                border: 1px solid black;
                text-align:center;
                }

        .filters{position: relative;
                  align:center;
                  font-weight: bold;
                  font-family: Arial;
                  font-size: 16;}

        .nameStyle {font-weight: bold;
                    font-family: Arial;
                    text-align:center;}

        .formTable{border-collapse:collapse;
                    border: 2px solid Grey;
                    background-color: LightGrey;}

        .formTableData{border-collapse:collapse;
                       border: 2px solid Grey;}

        .menuElt{
                position: relative;
                font-weight: bold;
                text-align: center;
                font-family: Arial;
                height: 40;
                width: 250;
                background-color: #DCDCDC;
                font-size: 15}

        .menuEltLogout{
                position: relative;
                font-weight: bold;
                text-align: center;
                font-family: Arial;
                height: 40;
                width: 250;
                text-decoration: underline;
                border: none;
                background-color: #DCDCDC;
                font-size: 15}

        .tdSelect {width: 50;
                  text-align:center;}