<html>
<head>
    <title>Курсы валют</title>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>
<table align="center" width="800">
    <tr colspan="3" align="center">
        <td>
            <table width="800" class="formTableData">
                <tr>
                    <td class="menuElt"><a href="converter">Конвертер</a></td>
                    <td class="menuElt"><a href="exchrates">Курсы валют</a></td>
                    <td class="menuElt"><a href="historyQuery">История</a></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="3" align="center"><h2 class="nameStyle">Курсы валют</h2></td>
    </tr>

    <tr colspan="3">
        <table width="800" align="center" class="formTableData">
            <tr>
                <th class="thHeader">Дата</th>
                <th class="thHeader">Код валюты</th>
                <th class="thHeader">Курс</th>
            </tr>
            {{#currency}}
            <tr>
                <td class="tdRow">{{DateRate}}</td>
                <td class="tdRow">{{CurrencyCode}}</td>
                <td class="tdRow">{{CurrencyRate}}</td>
            </tr>
            {{/currency}}
        </table>
    </tr>
</table>
</body>
</html>
