<html>
<head>
    <title>История запросов</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<form name='form' method='post'>
    <table align="center" width="800">
        <tr align="center">
            <td>
                <table width="800" class="formTableData">
                    <tr>
                        <td class="menuElt"><a href="converter">Конвертер</a></td>
                        <td class="menuElt"><a href="exchrates">Курсы валют</a></td>
                        <td class="menuElt"><a href="historyQuery">История</a></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <h2 class="nameStyle">История запросов</h2>
            </td>
        </tr>

        <tr>
            <td>
            <table class="formTable">
                <tr>
                    <td>
                        <label class="nameStyle">Исходная валюта</label>
                        <select name = "currencyCodeFrom" class="boldSelect">
<!--                            <option selected>Укажите валюту</option>-->
                            <option value = {{FromCode}}>{{FromDescr}}</option>
                            {{#currencyFrom}}
                            <option value = {{currencyCode}}>{{fullDescription}}</option>
                            {{/currencyFrom}}
                        </select>
                    </td>
                    <td>
                        <label class="nameStyle">Целевая валюта</label>
                        <select name = "currencyCodeTo" class="boldSelect">
<!--                            <option selected>Укажите валюту</option>-->
                            <option value = {{ToCode}}>{{ToDescr}}</option>
                            {{#currencyTo}}
                            <option value = {{currencyCode}}>{{fullDescription}}</option>
                            {{/currencyTo}}
                        </select>
                    </td>
                    <td>
                        <label class="nameStyle">Дата</label>
                        <input name="convertDate" type="date" class="boldSelect" value={{convertDate}}>
                    </td>
                </tr>
                <input  type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <tr>
                    <td colspan="3" height="5"></td>
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        <input name="submit" type="submit" value="Поиск" class="boldBtn"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" height="5"></td>
                </tr>
            </table>
            </td>
        </tr>

        <tr>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                <table width="800" align="center" class="formTableData">
                    <tr>
                        <th class="thHeader">Исходная валюта</th>
                        <th class="thHeader">Целевая валюта</th>
                        <th class="thHeader">Исходная сумма</th>
                        <th class="thHeader">Полученная сумма</th>
                        <th class="thHeader">Дата</th>
                    </tr>
                    {{#history}}
                    <tr>
                        <td class="tdRow">{{currencyCodeFrom}}</td>
                        <td class="tdRow">{{currencyCodeTo}}</td>
                        <td class="tdRow">{{convertVal}}</td>
                        <td class="tdRow">{{resultVal}}</td>
                        <td class="tdRow">{{dateConvert}}</td>
                    </tr>
                    {{/history}}
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
