<html>
<head>
    <title>Курсы валют</title>
    <style>

        .mainTable{
            position: relative;
            width:100%;
			height:100%;
			border-collapse: collapse;
			border: 5px solid White;
            font-size: 14}

		.subTable{
            position: relative;
            width:100%;
			border-collapse: collapse;
			border: 2px solid white;
            font-size: 14}

        .mainTableCol{
			width:20%;
            border: 5px solid White;
            font-size: 14}

		.mainTableCol2{
			vertical-align: top;
			width:60%;
            border: 5px solid White;
			<!--background: LightGray;-->
            font-size: 14}

		.mainTableColHeader{
			position: relative;
            width:100%;
			vertical-align: center;
            border: 2px solid Black;
			background: LightGray;
            font-size: 14}

		.mainTableColData{
			position: relative;
            width:100%;
			vertical-align: center;
            border: 2px solid Black;
            font-size: 14}

			select
			{
				position: relative;
				width:80%;
			}

			input
			{
				position: relative;
				width:40%;
			}

    </style>
</head>
<body>
<!--<h2>История запросов</h2>-->
<table class="mainTable">
    <tr>
        <td class="mainTableCol"></td>
        <td class="mainTableCol2">

            <table class="subTable">

                <tr>
                    <th colspan="5"><h2>История запросов</h2></th>
                </tr>

                <tr>
                    <td colspan="5">
                        <table class="subTable">
                            <form name='form' method='post'>
                                <tr>
                                    <td><label>Исходная валюта</label>
                                        <select name = "currFrom" >
                                            <option value = {{FromCode}}>{{FromDescr}}</option>
                                            {{#currency}}
                                                <option value = {{currencyCode}}>{{fullDescription}}</option>
                                            {{/currency}}
                                        </select>
                                    </td>
                                    <td><label>Целевая валюта</label>
                                        <select name = "currTo">
                                            <option value = {{ToCode}}>{{ToDescr}}</option>
                                            {{#currency}}
                                                <option value = {{currencyCode}}>{{fullDescription}}</option>
                                            {{/currency}}
                                        </select>
                                    </td>
                                    <td><label>Дата</label>
                                        <input type="date">{{dateConvert}}</input>
                                    </td>

                                <tr >
                                    <td>
                                        <input name="submit" type="submit" value="Поиск" />
                                    </td>
                                </tr>

                                </tr>
                            </form>
                        </table>

                    </td>
                </tr>
                <tr>
                    <th colspan="5">
                        <table class="mainTableColData">
                            <tr >
                                <th >Исходная валюта</th>
                                <th >Целевая валюта</th>
                                <th >Исходная сумма</th>
                                <th >Полученная сумма</th>
                                <th >Дата</th>
                            </tr>
                            {{#history}}
                                <tr >
                                    <td align = center>{{currencyCodeFrom}}</td>
                                    <td align = center>{{currencyCodeTo}}</td>
                                    <td align = center>{{convertVal}}</td>
                                    <td align = center>{{resultVal}}</td>
                                    <td align = center>{{dateConvert}}</td>
                                </tr>
                            {{/history}}

                        </table>

                    </th>
                </tr>
            </table>

        </td>
        <td class="mainTableCol"></td>
    </tr>

    <tr >
        <td colspan="5" align="center">
            <input name="submit" type="submit" value="Поиск" />
        </td>
    </tr>
</table>


</body>
</html>
