<html>
<head>
    <title>Конвертер</title>
    <style>
          .boldSelect{
        position: relative;
        font-weight: 600;
        width: 100%;
        height: 30;
        font-family: Arial;
        border: 3px solid LightGray;
        font-size: 15}

    .boldBtn{
        position: relative;
        font-weight: bold;
        text-align: center;
        font-family: Arial;
        height: 45;
        width: 250;
        border-radius: 7px;
        background-color: #DCDCDC;
        font-size: 15}

    .formTable{border-collapse:collapse;
                    border: 2px solid Grey;
                    background-color: LightGrey;}

    .nameStyle {font-weight: bold;
                    font-family: Arial;
                    text-align:center;}

    </style>

<!--    <style>-->
<!--        .two {-->
<!--            position: relative;-->
<!--            border-collapse:separate;-->
<!--            width: 30%;-->
<!--            border-spacing:10px;-->
<!--            border: 3px solid LightGray;-->
<!--            border-radius: 7px;-->
<!--            background-color: #ADD8E6;-->
<!--            padding: 5px;-->
<!--            font-weight: 600;-->
<!--            box-shadow: 5px 5px 10px 5px LightGray;-->
<!--            margin-left: 30%;-->
<!--            margin-top: 5%;-->
<!--            font-size: 14}-->

<!--        .tableLogin-->
<!--        {-->
<!--            border-spacing:10px;-->
<!--            border: 3px solid Grey;-->
<!--            border-radius: 3px;-->
<!--            background-color: LightGray;-->
<!--            padding: 5px;-->
<!--            font-weight: 600;-->
<!--            box-shadow: 5px 5px 10px 5px LightGray;-->
<!--            margin-left: 30%;-->
<!--            margin-top: 5%;-->
<!--            font-size: 14}-->

<!--            .boldInput{-->
<!--        position: relative;-->
<!--        left: 23%;-->
<!--        width: 40%;-->
<!--        font-weight: 600;-->
<!--        height: 30;-->
<!--        font-family: Arial;-->
<!--        border: 3px solid LightGray;-->
<!--        font-size: 15}-->

<!--        .boldBtn{-->
<!--        position: relative;-->
<!--        left: 45%;-->
<!--        font-weight: bold;-->
<!--        text-align: center;-->
<!--        font-family: Arial;-->
<!--        height: 45;-->
<!--        width: 235;-->
<!--        border-radius: 3px;-->
<!--        background-color: #DCDCDC;-->
<!--        font-size: 16}-->

<!--        .header{-->
<!--        position: relative;-->
<!--        left: 42%;-->
<!--        top: 15%;-->
<!--        font-weight: bold;-->
<!--&lt;!&ndash;        text-align: center;&ndash;&gt;-->
<!--        font-size: 20;-->
<!--        font: arial;-->
<!--        font-family: Arial;-->
<!--     }-->

<!--     .input{-->
<!--            height: 30;-->
<!--            width:95%;-->
<!--            font-weight: bold;-->
<!--            font-family: Arial;-->
<!--            border: 2px solid Grey;-->
<!--            font-size: 1.1em;-->
<!--			}-->

<!--	.trInput{-->
<!--            font-weight: bold;-->
<!--			font-family: Arial;-->
<!--            font-size: 1.1em;-->
<!--            background: LightGray;-->
<!--            padding: 5px 7px;-->
<!--            height: 40;-->
<!--            border: 1px solid black;-->
<!--            text-align:center;-->
<!--            }-->
<!--     .trLabel{-->
<!--            font-weight: bold;-->
<!--			font-family: Arial;-->
<!--            font-size: 1.1em;-->
<!--            background: LightGray;-->
<!--            padding: 5px 7px;-->
<!--            height: 40;-->
<!--            text-align:center;-->
<!--            }-->
<!--    </style>-->
<!--    <link rel="stylesheet" href="css/style.css" />-->
</head>
<body>
<!--<div class="header">Вход на сайт</div>-->

<form  name='form' action="/login" method="post">

    <table align="center" width="500" class="formTable">
        <tr>
            <td colspan="2">
                <h2 class="nameStyle">Вход</h2>
            </td>
        </tr>

        <tr>
            <td align="center">
                <label class="nameStyle">Логин</label>
            </td>
            <td>
                <input type="text" name="userName" class="boldSelect">
            </td>
        </tr>

        <tr>
            <td align="center">
                <label class="nameStyle">Пароль</label>
            </td>
            <td>
                <input type="password" name="password" class="boldSelect">

            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="Вход" value="Войти" class="boldBtn">
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
            <a href="registration" class="boldBtn">Регистрация</a>
            </td>
        </tr>
        <input  type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </table>




<!--    <table align="center" width="500" class="tableLogin">-->
<!--        <tr>-->
<!--            <td class="trLabel"><label>Логин</label></td><td><input type="text" name="username" class="input"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td class="trLabel"><label>Пароль</label></td><td><input type="password" name="password" class="input"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><input type="submit" name="Вход" value="Войти" class="boldBtn"></td>-->
<!--        </tr>-->
<!--        <input  type="hidden" name="_csrf" value="{_csrf.token}}"/>-->
<!--    </table>-->
</form>
<!--<br>-->
<!--<a href="registration" class="header">Регистрация</a>-->
</body>
</html>
